/*------------
    IMPORT
------------*/
@import "../confing/variables.css";
@import "../confing/reset.css";
@import "../confing/commons.css";

/*---------------
    APP__LEFT
---------------*/
.app__left {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.contact-personal,
.current-contact,
.current-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
    background-color: var(--color-bg-header);
    border-left: .0625rem solid lightgray;
}

.contact-personal__img {
    width: 2.5rem;
    border-radius: 50%;
}

.contact-personal__setting,
.current-contact__options {
    color: var(--color-text-secondary);
    margin-right: .625rem;
    display: flex;
    gap: .9375rem;
}

.contact-alert {
    padding: .9375rem;
    background-color: var(--color-bg-alert);
    position: relative;
}

.contact-alert__delete {
    position: absolute;
    top: .625rem;
    right: .625rem;
}

.contact-alert__wrapper {
    display: flex;
    align-items: center; 
}

.contact-alert__icon {
    background-color: #f2fbff;
    padding: .625rem;
    color: var(--color-bg-alert);
    font-size: .9375rem;
    border-radius: 50%;
    margin-right: .625rem;
}

.contact-alert__link {
    color: var(--color-text-secondary);
    display: block;
    font-size: .75rem;
}

.contact-search {
    background-color: var(--color-bg-input-search);
    padding: .3125rem;
    display: flex;
    align-items: center;
}

.contact-search__icon {
    background-color: var(--color-bg-tertiary);
    padding: .5rem 1.25rem;
    color: var(--color-text-secondary);
}

.contact-search__input {
    flex-grow: 1;
    border: none;
    padding: .3125rem;
}

.contact-search__icon,
.contact-search__input {
    height: 100%;
}

.contact-list {
    overflow-y: auto;
    background-color: var(--color-bg-tertiary);
    flex-grow: 1;
}

.contact-list__item {
    padding: .625rem .9375rem;
    display: flex;
    background-color: var(--color-bg-tertiary);
    border-bottom: .0625rem solid #f5f5f5;
    position: relative;
}

.contact-list__item-img {
    width: 3.125rem;
    border-radius: 50%;
    margin-right: .9375rem;
}

.contact-list__item-message {
    display: block;
    margin-top: .3125rem;
}

.contact-list__item-time {
    position: absolute;
    top: .625rem;
    right: .9375rem;
}

.contact-list__item-time,
.contact-list__item-message {
    font-size: .75rem;
    color: var(--color-text-secondary);
}

.contact-list__item:hover {
    background-color: #f5f5f5;
}

/*----------------
    APP__RIGHT
----------------*/
.app__right {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.current-contact__info {
    display: flex;
    align-items: center;
}

.current-contact__img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: .9375rem;
}

.current-contact__access {
    font-size: .75rem;
    color: var(--color-text-secondary);
    display: block;
    margin-top: .3125rem;
}

.current-contact__options {
    color: var(--color-text-secondary);
    margin-right: .9375rem;
}

.current-message {
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    word-wrap: break-word;
}

.current-message__item {
    padding: .625rem .625rem 1.25rem;
    border-radius: .625rem;
    margin: .3125rem;
    width: 40%;
    position: relative;
}

.current-message__item-time {
    position: absolute;
    bottom: .3125rem;
    right: .625rem;
    font-size: .625rem;
    color: var(--color-text-secondary);
}

.current-message__item-menu {
    position: absolute;
    top: .3125rem;
    right: .9375rem;
    display: none;
}

.current-message__item:hover .current-message__item-menu {
    display: block;
}

.current-message__sent {
    align-self: flex-end;
    background-color: var(--color-bg-sent-message);
}

.current-message__received {
    background-color: var(--color-bg-tertiary);
}

.current-message__delete {
    display: flex;
    flex-direction: column;
    padding: .625rem;
    background-color: var(--color-bg-sentbar);
    border-radius: .625rem;
    position: absolute;
    top: 1.875rem;
    right: .3125rem;
    z-index: 1;
    text-align: center;
}

.current-message__delete-control {
    list-style-type: none;
    cursor: pointer;
}

.current-answer__input {
    flex-grow: 1;
    padding: .625rem;
    border: none;
    border-radius: .3125rem;
}

.current-answer__icon {
    margin: 0 .9375rem;
}