/*----------
    VAR
----------*/
:root {
    --color-bg-primary: #009688;
    --color-bg-secondary: #dbdbd2;
    --color-bg-alert: #8edafc;
    --color-bg-header: #e6dfd6;
    --color-bg-sentbar: #f3eeea;
    --color-hover-contact: #f4f5f5;
    --color-bg-sent-message: #d5f9ba;
    --color-bg-received-message: #fff;
    --color-bg-input-search: #fafafa;
    --color-text-secondary: #b1b1b1;
}

/*------------
    RESET
------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------
    COMMONS
--------------*/
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to top, var(--color-bg-secondary)85%, var(--color-bg-primary)15%);
    height: 100vh;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 95%;
    display: flex;
}

/*---------------
    CHAT-LIST
---------------*/
.chat-list {
    width: 35%;
    display: flex;
    flex-direction: column;
}

/*--- PERSONAL PROFILE ---*/
.personal-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--color-bg-header);
    border-right: 1px solid var(--color-text-secondary);
}

.personal-profile img {
    width: 40px;
    border-radius: 50%;
}

.personal-profile span i {
    color: var(--color-text-secondary);
    margin-right: 15px;
}

/*--- NOTIFICATIONS ALERT ---*/
.notification-alert {
    padding: 15px;
    background-color: var(--color-bg-alert);
    display: flex;
    align-items: center;
}

.notification-alert i {
    background-color: #f2fbff;
    padding: 12px 10px;
    color: var(--color-bg-alert);
    font-size: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-alert a {
    color: var(--color-text-secondary);
    display: block;
}

/*--- SEARCH BAR ---*/
.search-bar {
    background-color: var(--color-bg-input-search);
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-bar i {
    background-color: #fff;
    padding: 5px 15px;
    color: var(--color-text-secondary);
}

.search-bar input {
    flex-grow: 1;
    border: none;
    padding: 5px;
}

.search-bar i, .search-bar input {
    height: 100%;
}

/*--- MESSAGE LIST ---*/
.message-list {
    overflow-y: auto;
}

.contact {
    padding: 10px 15px;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}

.contact img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.contact small {
    display: block;
    margin-top: 5px;
}

.contact .hours {
    position: absolute;
    top: 10px;
    right: 15px;
}

.contact .hours, .contact small {
    font-size: 12px;
    color: var(--color-text-secondary);
}

/*-----------
    CHAT
-----------*/
.chat {
    width: 65%;
}

/*--- MESSAGE LIST ---*/
.chat-header {
    background-color: var(--color-bg-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.contact-info small {
    font-size: 12px;
    color: var(--color-text-secondary);
    display: block;
    margin-top: 5px;
}

.contact-options i {
    color: var(--color-text-secondary);
    margin-right: 15px;
}